<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.bergamo.leo.wuake.Main" />
    <module name="Wuake" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>